body{
    background-color: white;
    background-image: url(images/paw-print-bg.jpg);
    z-index: 2;
}

nav{
    background-color: antiquewhite;
}

#twitter {
    width: 60px;
    height: 60px;   
}

#instagram {
    width: 60px;
    height: 60px;
}

#facebook {
    width: 60px;
    height: 60px;
}

#youtube {
    width: 60px;
    height: 60px;
}
