/*ELEMENTOS DEL BODY*/

body{
    background-color: white;
    background-image: url(images/paw-print-bg.jpg);
    z-index: 2;
}

/*ELEMENTOS DEl HEADER*/

#imagenHeader {
    position: relative;
    width: 95%;
    height: 50px;
    float: top;
}

/*ELEMENTOS DE LA NAVBAR*/

nav{
    background-color: antiquewhite;
    width: 95%;
}

/*ELEMENTOS DEL FOOTER*/

#footer {
    width: 95%;
    padding: 10px;
    border-top-left-radius: 37px 27px;
    border-top-right-radius: 37px 27px;
    border-bottom-left-radius: 37px 15px;
    border-bottom-right-radius: 37px 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(38, 3, 108, 0.3) 0px 18px 36px -18px inset;
}

#tFooter{
    position: relative;
    width: 80%;
}


#nombreLuis{
    position: relative;
    margin-left: 10%;
}

#nombreMaria{
    position: relative;
    margin-left: 50%;
}

#twitter {
    width: 60px;
    height: 60px;
    position: relative;
    margin-left: 15%;

}

#instagram {
    width: 60px;
    height: 60px;
    position: relative;
    margin-left: 15%;
}

#facebook {
    width: 60px;
    height: 60px;
    position: relative;
    margin-left: 15%;
}

#youtube {
    width: 60px;
    height: 60px;
    position: relative;
    margin-left: 15%;
}

